[toolchain]
package_manager = "yarn"
anchor_version = "0.31.0"

[features]
resolution = true
skip-lint = false

[programs.mainnet]
lazorkit = "Gsuz7YcA5sbMGVRXT3xSYhJBessW4xFC4xYsihNCqMFh"
default_policy = "BiE9vSdz9MidUiyjVYsu3PG4C1fbPZ8CVPADA9jRfXw7"

[programs.devnet]
lazorkit = "Gsuz7YcA5sbMGVRXT3xSYhJBessW4xFC4xYsihNCqMFh"
default_policy = "BiE9vSdz9MidUiyjVYsu3PG4C1fbPZ8CVPADA9jRfXw7"

[programs.localnet]
lazorkit = "Gsuz7YcA5sbMGVRXT3xSYhJBessW4xFC4xYsihNCqMFh"
default_policy = "BiE9vSdz9MidUiyjVYsu3PG4C1fbPZ8CVPADA9jRfXw7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.test.ts"
